@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


  .links {
   
    font-size: small;
    text-decoration: none;
    margin-left: 2rem;
    color: black;

  }

.links:hover{
  color:blueviolet;

}




/* main .offers{
  display: grid;
  height: 500px;
  grid-template-columns: 1fr 1fr;
  margin: 1rem;

} */

/* main .offers div{
  margin: 2rem;
}  */
/* .about{
  height: 12rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 3rem;
} */


.category{
  height: 100vh;
  margin: 3rem;
  justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
}
.items{
  height: 700px;
  width: 100%;
 
}
.brands{
  height: 400px;
  padding: 2rem;
 
}
.brand{
  height: 200px;
  margin: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}
.newsletter{
  margin: 3rem;
  height: 200px;
}

.overview{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 500px;
  padding: 3rem;
}
.payment{
  height: 15rem;
}
footer{
height: 30px;
text-align: center;
}

/* .test{
  border: 1px solid red;
} */

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}